$lime: #b0eb00;
$bright-red: #b30015;
$dark-blue: #2a00b3;
$deep-cerulean: #0077b3;
$bondi-blue: #00b0b3;
$cyan: #24fbff;
$heliotrope: #8a7dff;
$silver-chalice: #a6a6a6;
$scorpion: #595959;
$tundora: #444;
$mine-shaft: #363636;
$cod-gray: #111;

$white: #fff;
$ten-grey: #ebebeb;
$fifteen-grey: #e1e1e1;
$twenty-grey: #d7d7d7;
$twenty-five-grey: #ccc;
$thirty-grey: #c2c2c2;
$thirty-five-grey: #b7b7b7;
$fourty-grey: #acacac;
$fourty-five-grey: #a1a1a1;
$fifty-grey: #959595;